@use "./mixins";

@import "https://fonts.googleapis.com/css?family=Arvo";
// * {
//     font-family: 'Poppins', Arial, sans-serif;
// }

// base style variables
$background-color:#4d4b4bdc;
$font-color:#FFFFFF;
$font-size:15px;
$font-faces: arial,verdana,sans-serif;

body {
    background-color: $background-color;
    color: $font-color;
    font-family: $font-faces;
    font-size: $font-size;  
    padding: 10px; 
    display: flex;
    flex-direction: column;
    height: 100%;
}


.loading-overlay {
    position: fixed;
    z-index: 999;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    overflow: show;
    margin: auto;
    display:block;
    background-color: $background-color;
}